<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Изменение информации заявки
    </title>
</head>
<body>
<div layout:fragment="content">
    <div th:text="${errors}" class="margin-bottom alert-danger"></div>
    <form action="#" th:action="@{/requests/admin/{id}(id=${id})}" th:object="${requestDto}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Название</label>
            <input type="text" class="form-control" id="name" th:field="${requestDto.name}" required="true">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Описание</label>
            <input type="text" class="form-control" id="description" th:field="${requestDto.description}"
                   required="true">
        </div>
<!--        <div class="mb-3">-->
<!--            <label for="price" class="form-label">Цена</label>-->
<!--            <input type="text" class="form-control" id="price" th:field="${requestDto.price}"-->
<!--                   required="true">-->
<!--        </div>-->
        <div class="mb-3">
            <label for="multiple-types" class="form-label">Тип</label>
            <select id="multiple-types" th:field="${requestDto.type}"
                    class="form-control">
                <option th:each="requestType: ${requestTypes}"
                        th:value="${requestType.name}" th:text="${requestType.name} + ' ' + ${requestType.price} + 'USD'">
            </select>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary button-fixed">
                <span th:if="${id == null}">Добавить</span>
                <span th:if="${id != null}">Обновить</span>
            </button>
            <a class="btn btn-secondary button-fixed" th:href="@{/requests/admin}">
                Назад
            </a>
        </div>
    </form>
</div>
</body>
</html>