<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Заявки
    </title>
</head>
<body>
<div layout:fragment="content">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col">Описание</th>
                <th scope="col">Цена</th>
                <th scope="col">Тип услуги</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request, iterator: ${requests}">
                <th scope="row" th:text="${iterator.index} + 1"/>
                <td th:text="${request.id}"/>
                <td th:text="${request.name}"/>
                <td th:text="${request.description}"/>
                <td th:text="${request.price}"/>
                <td th:text="${request.type}"/>
                <td th:text="${request.orders}"/>
                <td style="width: 10%">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a sec:authorize="hasRole('ROLE_CUSTOMER')" class="btn btn-warning button-fixed button-sm"
                           th:href="@{/requests/admin/edit/{id}(id=${request.id})}">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Изменить
                        </a>
                        <button type="button" class="btn btn-danger button-fixed button-sm"
                                th:attr="onclick=|confirm('Удалить запись?') && document.getElementById('remove-${request.id}').click()|">
                            <i class="fa fa-trash" aria-hidden="true"></i> Удалить
                        </button>
                    </div>
                    <form th:action="@{/requests/admin/delete/{id}(id=${request.id})}" method="post">
                        <button th:id="'remove-' + ${request.id}" type="submit" style="display: none">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a sec:authorize="hasRole('ROLE_CUSTOMER')" class="btn btn-success button-fixed"
           th:href="@{/requests/admin/edit/}">
            <i class="fa-solid fa-plus"></i> Добавить заявку
        </a>
    </div>
</div>
</body>
</html>